<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/stylesheet.css" />
    <title>About</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="logoImg" > 

<img src="../images/logoLetters.png" alt="logo">
    </div>
    

    <section class="container" id="structure">
      <div>
        <article class="service-box">
          <img src="../images/bio-jim-morrison.png" alt="Jim morrison" />
          <h4>JIM MORRISON</h4>
          <h5>Singer for The Doors</h5>
          <p>
            At the center of The Doors’ mystique is the magnetic presence of
            singer-poet Jim Morrison, the leather-clad “Lizard King” who brought
            the riveting power of a shaman to the microphone. Morrison was a
            film student at UCLA when he met keyboardist Ray Manzarek on Venice
            Beach in 1965. Upon hearing Morrison’s poetry, Manzarek immediately
            suggested they form a band; the singer took the group’s name from
            Aldous Huxley’s infamous psychedelic memoir, “The Doors of
            Perception.”
          </p>
        </article>
        <article class="service-box">
          <img src="../images/bio-ray-manzarek.png" alt="ray manzarek" />
          <h4>RAY MANZAREK</h4>
          <h5>Keyboardist for The Doors</h5>
          <p>
            Ray Manzarek was the architect of The Doors’ intoxicating keyboard
            sound. Manzarek’s evocative playing fused rock, jazz, blues, bossa
            nova and an array of other styles into something utterly, dazzlingly
            new.
          </p>
        </article>
        <article class="service-box">
          <img src="../images/bio-john-densmore.png" alt="john densmore" />
          <h4>JOHN DENSMORE</h4>
          <h5>Drummer for The Doors</h5>
          <p>
            Drummer John Densmore was far more than merely the rhythmic engine
            of The Doors. Strongly influenced by jazz skinsmen like Elvin Jones
            and the supple grooves of the Brazilian wave, he brought a highly
            evolved sense of dynamics, structure and musicality to his beats.
          </p>
        </article>
        <article class="service-box">
          <img src="../images/bio-robbie-krieger.png" alt="ROBBY KRIEGER" />
          <h4>ROBBY KRIEGER</h4>
          <h5>Guitarist for The Doors</h5>
          <p>
            With a flair for wicked bottleneck slide, exploratory solos and
            gutbucket grooves, guitarist Robby Krieger brought a stinging,
            sinuous intensity to the sound of The Doors. But he was also a key
            songwriter in the band and penned some of their biggest hits –
            notably their mesmerizing #1 hit, “Light My Fire.”
          </p>
        </article>
      </div>
    </section>

    <script src="../app.js"></script>
  </body>
</html>
