<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="../stylesheets/stylesheet.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
        </ul>
      </div>
    </nav>

   

    <div class="discography">
      <img class="discoImg" src="../images/Doors_albuns.jpg" alt="" />
       
      <ul>
        <h1>Discography</h1>
        <li>The Doors</li>
        <li>Strange Days</li>
        <li>Waiting for the Sun</li>
        <li>The Soft Parade</li>
        <li>Morrison Hotel</li>
        <li>L.A. Woman</li>
        <li>Other Voices</li>
        <li>Full Circle</li>
        <li>An American Prayer</li>
      </ul>
    </div>

    <script src="../app.js"></script>
  </body>
</html>
